
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#map{
  height: 80rem;
}
.ol-overlaycontainer-stopevent{
  width: 15% !important;
  top: 60%;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
.view{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.info-view{
  margin-top: 50%;
  margin-bottom: 50%;
}

.card {  
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}  
/* Legend styling */
.legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid black;
}

.legend-label {
  display: inline-block;
}
