
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#map{
  height: 800px;
}
.ol-overlaycontainer-stopevent{
  width: 15% !important;
  top: 60%;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.info-view{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    top: 50%;
}
.card {  
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}  

